body {
  font-family: 'Open Sans', sans-serif;
  color: #555555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  color: #303030;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  max-width: 1280px;
  padding-left: 55px;
  padding-right: 55px;
  margin-left: auto;
  margin-right: auto;
}

.about-container,
.services-container,
.traditions-container,
.masters-container,
.gallery-container,
.form-wrapper,
.contacts-wrapper {
  padding-top: 130px;
  padding-bottom: 130px;
}

.unmarked-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-container,
.about-container,
.about-images-list,
.traditions-container,
.price-list-wrapper,
.masters-list,
.gallary-images-list,
.counter-cards,
.contacts-container,
.footer-container,
.social-links,
.master-social-icons,
.pre-header,
.hero-left,
.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-header {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-top: 0;
  margin-bottom: 20px;
}

.section-header-light {
  color: #ffffff;
}

.pre-header {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  margin-top: 0%;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-top: 0;
  margin-bottom: 20px;
}

.social-links a,
.social-links a:visited {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: #303030;
}

.social-links a:hover,
.social-links a:active {
  color: #ff6c00;
}

.social-links li {
  margin-left: 40px;
}

.master-social-icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}

.master-social-icons li:not(:last-child) {
  margin-right: 10px;
}

.master-social-icon {
  width: 20px;
  height: 20px;
  fill: #303030;
}

.master-social-icons li:hover .master-social-icon {
  fill: #ff6c00;
}

.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  outline: none;
}

.button:hover {
  background-color: #ff6c00;
}

.button-light {
  color: #ffffff;
}

.contacts-form {
  outline: 1px solid orangered;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input {
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  /* background-color: transparent; */
  width: 48%;
  display: block;
  height: 24px;
  margin-bottom: 44px;
}

.input.textarea {
  resize: none;
  width: 100%;
  height: initial;
}

.form-btn {
  padding-left: 38px;
  padding-right: 38px;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.header-container,
.header-navigation,
.nav-links,
.header-info-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.header a,
.header a:visited {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header a:hover,
.header a:active {
  color: #ff6c00;
}

.header-navigation > a {
  margin-right: 70px;
}

.nav-links li:not(:last-child) {
  margin-right: 40px;
}

.button-header {
  margin-left: 40px;
}

.hero-container {
  padding-left: 0;
  padding-right: 0;
}

.hero-left {
  width: 155px;
  background-color: #ffffff;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.hero-right {
  max-width: 100%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background-color: #191c26;
  padding-top: 270px;
  padding-bottom: 205px;
  padding-left: 100px;
  padding-right: 55px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/slider-img-3.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/slider-img-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.social-links.top {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: center left;
          transform-origin: center left;
  position: absolute;
  left: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-links.top::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-left: 30px;
}

.main-header {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.pre-header-light {
  color: rgba(157, 164, 189, 0.6);
}

.description-light {
  color: #9da4bd;
  margin-bottom: 0;
}

.about-images-list {
  margin-right: 75px;
}

.about-images-list li:not(:last-child) {
  margin-right: 30px;
}

.about-us-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 40px;
}

.pre-header::before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 20px;
}

.pre-header-light::before {
  background-color: #9da4bd;
  opacity: 0.6;
}

.about-us-info {
  max-width: 41%;
}

.services-section {
  background-color: #191c26;
}

.services-container {
  background-image: url("../images/bg-img-1-transp.png");
  background-position: center;
  background-repeat: no-repeat;
}

.services-header {
  margin-bottom: 45px;
}

.price-list {
  width: 50%;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  padding: 30px 40px;
  margin-bottom: 50px;
}

.price-list li:not(:last-child) {
  margin-bottom: 20px;
}

.gradient-left {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(to bottom, #171a24, rgba(23, 26, 36, 0.2));
}

.gradient-right {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background-image: linear-gradient(to bottom, #090b13, rgba(9, 11, 19, 0.2));
}

.services-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.counter {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  margin-top: 0;
  margin-bottom: 5px;
}

.counter sup {
  color: #ff6c00;
  font-weight: 600;
  font-size: 16px;
  vertical-align: super;
}

.counter-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
  margin-top: 0;
  margin-bottom: 0;
}

.traditions-left,
.form-wrapper {
  width: calc(50% + 15px);
}

.traditions-left {
  padding-left: 100px;
}

.traditions-right,
.contacts-wrapper {
  width: calc(50% - 15px);
}

.counter-cards li {
  max-width: 170px;
  max-height: 135px;
  padding: 20px;
  background-color: #f7f7f7;
}

.counter-cards li:nth-child(even) {
  margin-left: 30px;
  margin-top: 30px;
}

.traditions-header {
  max-width: 70%;
}

.traditions-description {
  max-width: 80%;
}

.masters-section {
  background-color: #f7f7f7;
}

.masters-header {
  margin-bottom: 45px;
}

.masters-list > li:not(:last-child) {
  margin-right: 30px;
}

.masters-list img {
  margin-bottom: 30px;
}

.master-name {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-top: 0;
  margin-bottom: 10px;
}

.master-grade {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-top: 0;
  margin-bottom: 30px;
}

.master-social-icons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pre-header.gallary {
  margin-bottom: 45px;
}

.gallary-images-list li:not(:last-child) {
  margin-right: 30px;
}

.contacts-section {
  background-color: #191c26;
}

.contacts-container {
  padding-left: 0;
  padding-right: 0;
}

.form-wrapper {
  padding-left: 55px;
  padding-right: 40px;
}

.contacts-wrapper {
  padding-left: 100px;
  padding-right: 55px;
  background-image: url(../images/bg-img-2-transp.png);
}

.contacts-header {
  margin-bottom: 40px;
}

.contacts-info {
  margin-bottom: 70px;
}

.contacts-info li:not(:last-child) {
  margin-bottom: 20px;
}

.working-hours,
.contacts-info a {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-mail {
  text-decoration: underline;
}

.pre-header-white {
  color: #ffffff;
}

.footer p {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 55px;
  padding-bottom: 55px;
}

.footer-links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}
/*# sourceMappingURL=main.css.map */