.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px 20px;
  border: 1px solid $txt-c-accent;
  border-radius: 25px;
  background-color: transparent;
  outline: none;
  transition: background-color 250ms;

  &:hover {
    background-color: $txt-c-accent;
  }
}

.button-light {
  color: $txt-c-light;
}
