$c-light: #ffffff;
$c-dark: #191c26;
$c-bg-secondary: #f7f7f7;

$txt-c-light: $c-light;
$txt-c-gray: #555555;
$txt-c-dark: #303030;
$txt-c-accent: #ff6c00;
$txt-c-gray-light: #9da4bd;
$txt-c-gray-transparent: rgba(157, 164, 189, 0.6);
$txt-c-gray-form: rgba(157, 164, 189, 0.4);
