.header {
  width: 100%;
  position: absolute;
  z-index: 2;
}
.header-container,
.header-navigation,
.nav-links,
.header-info-links {
  display: flex;
  align-items: center;
}
.header-container {
  justify-content: space-between;
  padding-top: 40px;
}
.header a,
.header a:visited {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: $txt-c-light;
}
.header a:hover,
.header a:active {
  color: $txt-c-accent;
}

.header-navigation > a {
  margin-right: 70px;
}
.nav-links li:not(:last-child) {
  margin-right: 40px;
}
.button-header {
  margin-left: 40px;
}
